<form name="create" class="create">
  <label for="title">Title<span class="error" ng-show="create.title.$error.required">*</span></label>
  <input type="text" class="u-full-width" name="title" ng-model="post.title" placeholder="Title" required>
  <label for="body">Body<span class="error" ng-show="create.body.$error.required">*</span></label>
  <textarea class="u-full-width" name="body" style="height:15em;" ng-model="post.body" required></textarea>
  <label for="style">Style</label>
  <textarea class="u-full-width" name="style" style="height:15em;" ng-model="post.style"></textarea>
  <label for="image">Image</label>
  <input type="text" class="u-full-width" name="image" ng-model="post.image" placeholder="wombat.jpg">
  <label for="tags">Tags</label>
  <input type="text" class="u-full-width" name="tags" ng-model="post.tags" placeholder="one two three four">
  <button class="button-primary" create-form ng-click="create(post)">Create</button>
</form>
