{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>EG</title>
	<meta name="description" content="Eloquent Geek">
	<meta name="author" content="Rich Churcher">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
	<div class="container">
	{{template "content" .}}
	</div><!-- container -->
</body>
</html>
{{end}}
